<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>148370423055-et62lel8na7jdp7nucd5ces6k4v3kb65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148370423055-et62lel8na7jdp7nucd5ces6k4v3kb65</string>
	<key>API_KEY</key>
	<string>AIzaSyAP2azcAPl9xQofq-1LaGL9csCsAItJPe8</string>
	<key>GCM_SENDER_ID</key>
	<string>148370423055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevMx.Citrus</string>
	<key>PROJECT_ID</key>
	<string>citrus-2b1eb</string>
	<key>STORAGE_BUCKET</key>
	<string>citrus-2b1eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148370423055:ios:fa3b3ee6c412e782</string>
	<key>DATABASE_URL</key>
	<string>https://citrus-2b1eb.firebaseio.com</string>
</dict>
</plist>